<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style> -->
<body class="mainbgcolor">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="assets/1000_F_223507324_jKl7xbsaEdUjGr42WzQeSazKRighVDU4.jpg" style="width:100%">
  <a href="#" class="sidebarmenu">
    <i class="fa fa-home w3-xxlarge " style="margin-bottom: 20px;"></i>
    <p>HOME</p>
  </a>
  <!-- <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a> -->
  <!-- <a href="#about" class="about">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>ABOUT</p>
  </a> -->
  <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>Profile</p>
  </a>
  <a href="#awards" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>Awards</p>
  </a>
  <a href="#projects" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-eye w3-xxlarge"></i>
    <p>Projects</p>
  </a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#awards" class="w3-bar-item w3-button" style="width:25% !important">Awards</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">Profile</a>
  
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>

    <a href="#projects" class="w3-bar-item w3-button" style="width:25% !important">Projects</a>
  </div>
</div>
<div *ngFor="let pro2 of projects">
    <p>{{pro2.title}}</p>
</div>
<!-- Page Content -->
<div class="w3-padding-large" id="main"  *ngFor="let emp2 of employeeData ">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center " id="home">
    <h1 class="w3-jumbo"  ><span class="w3-hide-small">I'm</span>{{emp2.name}}</h1>
    <p>{{emp2.position}}</p>
    <img src="assets/1000_F_223507324_jKl7xbsaEdUjGr42WzQeSazKRighVDU4.jpg" alt="boy" class="w3-image"  width="100" height="100">
    <!-- <img src="/w3images/man_smoke.jpg" alt="boy" class="w3-image" width="992" height="1108"> -->
  </header>

  <!-- About Section -->
  <div class="about" id="about">
    <h2 class="w3-text-light-grey">Profile</h2>
    <hr style="width:200px" class="w3-opacity">
   <p *ngFor="let emp1 of employeeData1 ">{{emp1.company}}</p>
    <!-- <p>Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p> -->
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <p class="w3-wide">Angular</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:95%"></div>
    </div>
    <p class="w3-wide">Web Design</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:85%"></div>
    </div>
    <p class="w3-wide">CSS</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:80%"></div>
    </div><br>
    
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
     
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">2+</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">3</span><br>
        Awards
      </div>
    
     
    </div>

    <!-- <button class="w3-button w3-light-grey w3-padding-large w3-section">
      <i class="fa fa-download"></i> Download Resume
    </button> -->
    
    <!-- Grid for pricing tables -->
   
    
    <!-- Testimonials -->
    
    <div class="w3-third w3-container w3-margin-bottom">
        
        <div class="w3-container w3-white" *ngFor="let add2 of contact1 ">
          <p><b>{{add2.place}}</b></p>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        </div>
      </div>
  <!-- End About Section -->
  </div>
  
  <!-- Portfolio Section -->
  <div class="container" id="projects" >
    <h3 class="w3-padding-16 w3-text-light-grey">Projects</h3>
    
    <div class="panel-group">
      <div class="panel panel-default" *ngFor="let emp1 of employeeData1 " >
        <div class="panel-heading" >{{emp1.title}}</div>
        <div class="panel-body">{{emp1.description}}</div>
      </div>
     
      
    </div>
  </div>
  <!-- achievement section -->
  <div class="container" style="background-color:white;margin-right: -69px;" id="awards">
    <h3 >Awards</h3>
    <div class="row">
      <div class="col-sm-4" >
        <h3>Column 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
    </div>
  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section" *ngFor="let add1 of contact ">
        <!-- <p *ngFor="let emp1 of employeeData1 " style="color: brown;">{{emp1.company}}</p> -->
      <p  style="color: brown;"><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right" ></i>Phonenumber:{{add1.phonenumber}}</p>
      <p  style="color: brown;"><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>place:{{add1.place}}</p>
      <p  style="color: brown;"><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right" style="color: brown;"> </i> Email::{{add1.email}}</p>
    </div><br>
   

    <!-- <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form> -->
  <!-- End Contact Section -->
  </div>
  
   
<!-- END PAGE CONTENT -->
</div>

</body>
</html>

